.chosen-container {
	font-size: 1em;

	&::after, &::before {
		position: absolute;
		content: '';
		top:em(7);
		right:em(10);
		z-index: 20;
	}

	&::before {
		@include triangle(em(12) em(10), $light-text, down);
	}
	&::after {
		display: none;
		@include triangle(em(12) em(10), $light-text, up);
	}

	&.chosen-with-drop {
		&::before {
			display: none;
		}
		&::after {
			display: block;
		}
	}

	span, li {
		color: $base-font-color;
		@include Calibre-Medium;

		&.highlighted {
			color: $light-text;
		}
	}

	.chosen-single {
		height: auto;
		padding-bottom: em(10);
	}

	.chosen-drop {
		background: $extra-light-gray;
	}
}