%outer-container {
	@include outer-container;
}

.global-header, .module-wrapper {
	@extend %outer-container;
}

.offset-header {
	margin-left: 20%;

	@include breakpoint( $narrow-desktop ) {
		margin-left: 0;
	}
}

.internal-offset {
	@include push(2);
	@include post(1);

	&.has-rail {
		@include post(0);
	}

	@include breakpoint( $tablet ) {
		@include push(1);
	}

	@include breakpoint( $phone ) {
		margin-left: em(20);
		margin-right: em(20);
	}
}

.full-width {
	float: none;
	width: auto;
}

.rail-wrapper {
	@extend %outer-container;
	display: table;
	table-layout: fixed;
	width: 100%;

	@include breakpoint( $tablet ) {
		display: block;
		float: none;
		width: auto;
	}

	.has-rail {
		@include span(11 wider);
		display: table-cell;
		float: none;
		vertical-align: top;
		padding-right: em(40);

		@include breakpoint( $tablet ) {
			display: block;
			float: none;
			width: auto;
			padding:0;
		}
	}

	.rail {
		@include span(4 wider);
		display: table-cell;
		float: none;
		vertical-align: top;
		padding: em(20);
		background: $lighter-gray;

		@include breakpoint( $tablet ) {
			display: block;
			float: none;
			width: auto;
		}

		.grant-amount {
			font-size: em(48);
			color: $sandstone;
		}

		select.grant-select-menu {
			display: none;
		}
		.grant-section {
			margin-bottom: em(20);

			h2, h3 {
				margin:0;
			}
			p {
				margin: 0;
				@include Calibre-Light;
			}
		}

		.grant-select-menu {
			margin-bottom: em(20);
			padding-top: em(20);
			padding-bottom: em(20);
			border: $base-border;

			&::before, &::after {
				font-size: em(24);
				top: 1.1em;
			}

			.chosen-single {
				@include Calibre-Regular;
				font-size: em(24);
				color: $base-font-color;
			}
		}
	}
}


.rail-header {
	@include Calibre-Semibold;
	font-size: em(24);
	line-height: 1.2em;
	color: $sandstone;
}
.rail-section-header {
	@include Calibre-Medium;
	font-size: em(14);
}

