# WordPress
html/wp
html/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Plugins
html/app/plugins/*
!html/app/plugins/.gitkeep
!html/app/plugins/gravityforms

# MU Plugins
html/app/mu-plugins/*
!html/app/mu-plugins/advanced-custom-fields-pro
!html/app/mu-plugins/disallow-indexing.php
!html/app/mu-plugins/register-theme-directory.php
!html/app/mu-plugins/bedrock-autoloader.php

# Application
html/app/upgrade
html/app/uploads/*
!html/app/uploads/.gitkeep
.sass-cache

# Package Managers
node_modules
bower_components
vendor/*
!vendor/.gitkeep

# Vagrant
bin
.vagrant