{% set module = regionMap %}
<section class="region-module module-wrapper">

	{% if module.title %}
	<header class="module-heading region-heading">
		<h2 class="heading-title">{{ module.title }}</h2>
		<p class="heading-info">{{ module.info }}</p>
	</header>
	{% endif %}

	<div class="module-container region-container {{ module.containerClasses }}">
		<svg id="regionsMap" class="map-image"></svg>
	</div>
</section>