<div class="newsletter-outer-wrapper">
	<section class="module-newsletter-signup module-wrapper">
		<h2 class="signup-title">{{ newsletter.title }}</h2>

		<form class="signup-form">
			<input type="text" placeholder="Enter email">
			<input type="submit" value="Subscribe">
		</form>
	</section>
</div>