<footer class="site-module-footer module-wrapper">
	<ul class="footer-link-list">
		<li class="standard"><a>Contact</a></li>
		<li class="standard"><a>Privacy Policy</a></li>
		<li class="standard"><a>Terms of Use</a></li>

		<li class="social"><a><span class="icon icon-facebook"></span> Facebook</a></li>
		<li class="social"><a><span class="icon icon-twitter"></span> Twitter</a></li>
		<li class="social"><a><span class="icon icon-rss"></span> RSS</a></li>
		<li class="social"><a><span class="icon icon-youtube"></span> YouTube</a></li>
	</ul>

	<p class="footer-copyright">&copy; {{ "now"|date("Y") }} The Rockefeller Foundation. All Rights Reserved.</p>
</footer>