<div class="header-badge">
	<span class="icon icon-rockefeller"></span>
	<span class="nav-block">
		<span class="breadcrumb">{{ breadcrumb }}</span>
		<span class="current-page">{{ currentPage }}</span>
	</span>
</div>