@mixin sg-change-accent-color($color) {
	.c-bracket {
		&.top 		{ border-top-color: $color; }
		&.bottom 	{ border-bottom-color: $color; }
		&.right 	{ border-right-color: $color; }
		&.left 		{ border-left-color: $color; }
	}

	.tb-info::before {
		background: $color;
	}
}

.topic-block {
	position: relative;
	height: em(500);
	padding: em(20) em(30);

	.c-bracket {
		display: block;
		position: absolute;
		width: em(50);
		height: em(50);

		&.top {
			top:-1px;
			border-top:1px solid $orange;
		}
		&.bottom {
			bottom:0px;
			border-bottom:1px solid $orange;
		}

		&.right {
			right:0px;
			border-right:1px solid $orange;
		}
		&.left {
			left:-1px;
			border-left:1px solid $orange;
		}
	}

	&.right {
		.c-bracket.right {
			display: none;
		}
	}
	&.left {
		.c-bracket.left {
			display: none;
		}
	}


	.tb-name {
		display: block;
		position: relative;
		height: em(300, 24);
		margin: 0 auto;
		@include Acta-Medium;
		font-size: em(24);
		line-height: em(30, 24);

		span {
			position: absolute;
			left: 0;
			bottom: em(20, 30);
			width: 100%;
			max-height: 3.6;
			overflow: hidden;
		}
	}
	.tb-image {
		display: block;
		width: em(160, 24);
		height: em(160, 24);
		margin:em(20, 24) auto;
		margin-top:0;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.tb-info {
		display: block;
		@include Calibre-Light;
		font-size: em(16);
		line-height: em(21,16);

		&::before {
			content: '';
			display: block;
			height: em(10, 18);
			width: em(150, 18);
			margin-bottom: 0.75em;
			margin-top: 0.75em;
		}
	}
	.tb-tag {
		display: block;
		@include Calibre-Medium;
		font-size: em(13);
		line-height: em(21, 13);
		text-transform: uppercase;
	}
}

[class^="grid-6"], [class*=" grid-6"] {
	.grid-heading, .grid-container {
		padding-top: em(40);
		padding-bottom: em(40);
	}
}

.grid-6-0 {
	@include sg-change-accent-color($light-text);
}

.grid-6-2 {
	.tb-name {
		height: em(160, 80);
		font-size: em(80);
		line-height: 1em;
		text-align: center;

		span {
			bottom: 0;
		}
	}
	.tb-info {
		@include Calibre-Regular;
		font-size: em(18);
		line-height: em(24,18);
		color: $light-text;
		text-align: center;

		span {
			display: block;
			padding-left:15%;
			padding-right: 15%;
		}

		&::before {
			height: em(8, 18);
			width: em(180, 18);
			margin: 0 auto;
			margin-bottom: em(8, 18);
			background: $yellow-border;
		}
	}
}

.grid-6-3 {
	@include sg-change-accent-color($orange);

	.topic-block {
		height: em(260);
		text-align: center;
	}

	.tb-content {
		display: block;
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: em(40);
		padding-left: em(40);
		padding-right: em(40);
	}

	.tb-name {
		padding-bottom: 0.5em;
		height: em(150, 30);
		font-size: em(30);
		line-height: em(36, 30);
	}
	.tb-info {
		overflow: hidden;
		display: block;
		height: 3em;
		max-width: em(185, 18);
		margin: 0 auto;
		@include Calibre-Medium;
		font-size: em(18);
		line-height: em(24,18);
		color: $light-text;

		&::before {
			margin: 0 auto;
		}
	}
}