$gutter-ratio: 1/3;
$grid-columns: 15;
$max-width: em(1200);

$column-width: em(1200 / $grid-columns);

$susy : (
  columns: $grid-columns,
  gutters: $gutter-ratio,
  gutter-position: split,
  global-box-sizing: border-box,
  column-width: $column-width,
  debug: (
    image: show-columns,
    color: rgba(blue, .25),
    output: overlay,
    toggle: top right,
  )
);

@mixin outer-container() {
	@include container($max-width); // 1200px
}

@mixin fill-parent() {
  @include full;
}

// Breakpoints
$small-screen: em(500);
$medium-screen: em(767);
$desktop-screen: em(960);
$nav-breakpoint: em(850);

$phone: max-width $small-screen;
$tablet: max-width $medium-screen;
$narrow-desktop: max-width $desktop-screen;