@mixin Acta-Light { 
  font-family: Acta-Light;
  font-weight: normal;
  font-style: normal;
}
@mixin Acta-LightItalic { 
  font-family: Acta-LightItalic;
  font-weight: normal;
  font-style: normal;
}

@mixin Acta-Book { 
  font-family: Acta-Book;
  font-weight: normal;
  font-style: normal;
}
@mixin Acta-BookItalic { 
  font-family: Acta-BookItalic;
  font-weight: normal;
  font-style: normal;
}


@mixin Acta-Medium { 
  font-family: Acta-Medium;
  font-weight: normal;
  font-style: normal;
}
@mixin Acta-MediumItalic { 
  font-family: Acta-MediumItalic;
  font-weight: normal;
  font-style: normal;
}


@mixin Acta-Bold { 
  font-family: Acta-Bold;
  font-weight: normal;
  font-style: normal;
}
@mixin Acta-BoldItalic { 
  font-family: Acta-BoldItalic;
  font-weight: normal;
  font-style: normal;
}

@mixin Acta-ExtraBold { 
  font-family: Acta-ExtraBold;
  font-weight: normal;
  font-style: normal;
}
@mixin Acta-ExtraBoldItalic { 
  font-family: Acta-ExtraBoldItalic;
  font-weight: normal;
  font-style: normal;
}


@mixin Acta-Black { 
  font-family: Acta-Black;
  font-weight: normal;
  font-style: normal;
}
@mixin Acta-BlackItalic { 
  font-family: Acta-BlackItalic;
  font-weight: normal;
  font-style: normal;
}




@mixin Calibre-Thin { 
  font-family: CalibreWeb-Thin;
  font-weight: normal;
  font-style: normal;
}
@mixin Calibre-ThinItalic { 
  font-family: CalibreWeb-ThinItalic;
  font-weight: normal;
  font-style: normal;
}

@mixin Calibre-Light { 
  font-family: CalibreWeb-Light;
  font-weight: normal;
  font-style: normal;
}
@mixin Calibre-LightItalic { 
  font-family: CalibreWeb-LightItalic;
  font-weight: normal;
  font-style: normal;
}

@mixin Calibre-Medium { 
  font-family: CalibreWeb-Medium;
  font-weight: normal;
  font-style: normal;
}
@mixin Calibre-MediumItalic { 
  font-family: CalibreWeb-MediumItalic;
  font-weight: normal;
  font-style: normal;
}

@mixin Calibre-Regular { 
  font-family: CalibreWeb-Regular;
  font-weight: normal;
  font-style: normal;
}
@mixin Calibre-RegularItalic { 
  font-family: CalibreWeb-RegularItalic;
  font-weight: normal;
  font-style: normal;
}

@mixin Calibre-Semibold { 
  font-family: CalibreWeb-Semibold;
  font-weight: normal;
  font-style: normal;
}
@mixin Calibre-SemiboldItalic { 
  font-family: CalibreWeb-SemiboldItalic;
  font-weight: normal;
  font-style: normal;
}

@mixin Calibre-Bold { 
  font-family: CalibreWeb-Bold;
  font-weight: normal;
  font-style: normal;
}
@mixin Calibre-BoldItalic { 
  font-family: CalibreWeb-BoldItalic;
  font-weight: normal;
  font-style: normal;
}

@mixin Calibre-Black { 
  font-family: CalibreWeb-Black;
  font-weight: normal;
  font-style: normal;
}
@mixin Calibre-BlackItalic { 
  font-family: CalibreWeb-BlackItalic;
  font-weight: normal;
  font-style: normal;
}